/node_modules/


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

App.spec.js
NetologyTest.js
package-lock.json
user.js

/test-results/
/playwright-report/
/playwright/.cache/

playwright.config.js
tests-examples/
example.spec.js
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
